@model Login.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "ĐỔI MẬT KHẨU";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#myPage">DRAGON GYM</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li>@Html.ActionLink("Trang chủ", "Index", "Home")</li>
                <li class="active">@Html.ActionLink("Khách hàng", "Index", "KHACHHANGs")</li>
                <li>@Html.ActionLink("Nhân viên", "Index", "NHANVIENs")</li>
                <li>@Html.ActionLink("Thiết bị", "Index", "THIETBIs")</li>
                <li>@Html.ActionLink("Khuyến mãi", "Index", "KHUYENMAIs")</li><li>@Html.ActionLink("Videos", "Index", "Videos")</li>
            </ul>
        </div>
    </div>
</nav>


<div class="container-fluid" style=" background-image: url('/Content/images/bglogin.jpg'); width: 100%; height:750px;">
    <h1 style="color:whitesmoke">@ViewBag.Title</h1>
    @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()

        @Html.ValidationSummary("", new { @class = "text-danger" })
        <nbsp></nbsp>
        <div class="form-group">
            <nbsp></nbsp>  <h3 style="color:whitesmoke">Mật khẩu cũ </h3>
            <div class="col-md-10">
                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <h3 style="color:whitesmoke">Mật khẩu mới</h3>
            <div class="col-md-10">
                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <h3 style="color:whitesmoke">Xác nhận mật khẩu</h3>
            <div class="col-md-10">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-0 col-md-8">
                <input type="submit" value="Lưu" class="btn btn-default" />
                <br /><br />
                <button class="btn btn-default" >@Html.ActionLink("Quay lại", "Index")</button> 
            </div>
        </div>

    }

</div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }

