@model Login.Models.THIETBI

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#myPage">DRAGON GYM</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li>@Html.ActionLink("Trang chủ", "Index", "Home")</li>
                <li>@Html.ActionLink("Khách hàng", "Index", "KHACHHANGs")</li>
                <li>@Html.ActionLink("Nhân viên", "Index", "NHANVIENs")</li>
                <li class="active">@Html.ActionLink("Thiết bị", "Index", "THIETBIs")</li>
                <li>@Html.ActionLink("Khuyến mãi", "Index", "KHUYENMAIs")</li><li>@Html.ActionLink("Videos", "Index", "Videos")</li>
            </ul>
        </div>
    </div>
</nav>

<hr />

<div class="container">
    <hr />
    <h4 class="text-center">Bạn có chắc chắn muốn xóa thiết bị này?</h4>
</div>

<div class="container text-center">
    <table class="table text-center">
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.matb)
            </td>
            <td>
                @Html.DisplayFor(model => model.matb)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.tentb)
            </td>
            <td>
                @Html.DisplayFor(model => model.tentb)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.giatb)
            </td>
            <td>
                @Html.DisplayFor(model => model.giatb)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.soluong)
            </td>
            <td>
                @Html.DisplayFor(model => model.soluong)
            </td>
        </tr>
    </table>
</div>

<div class="container text-center">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color text-center">
            <input type="submit" value="Xóa" class="btn btn-default" /> |
            @Html.ActionLink("Quay lại", "Index")
        </div>
    }
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
