@model IEnumerable<Login.Models.Video>

<table class="table table-bordered" style="">
    <tr class="table">
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            Video
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="table">
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <iframe class="exercise-video" width="250" height="150" src="@item.Url.Replace("watch?v=", "embed/")" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
        </tr>
    }

</table>
